{{template "admin/header.tpl" .}}

<div class="layui-body" style="background-color: #eeeeee;">
    <div class="layui-row layui-col-space15" style="padding: 20px">
        <div class="layui-col-md6">
          <div class="layui-panel" style="height: 700px;padding: 20px;">
            <h2 style="padding: 20px;">工作计划</h2>
            <ul class="layui-timeline">
                <li class="layui-timeline-item">
                  <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                  <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">11月20日</h3>
                    <p>
                        火车站旅行是怎么回事呢？火车站相信大家都很熟悉，但是火车站旅行是怎么回事呢，下面就让小编带大家一起了解吧。

                        <br>火车站旅行，其实就是坐火车，大家可能会很惊讶火车站怎么会旅行呢？但事实就是这样，小编也感到非常惊讶。
                        
                        <br>这就是关于火车站旅行的事情了，大家有什么想法呢，欢迎在评论区告诉小编一起讨论哦！
                    </p>
                  </div>
                </li>
                <li class="layui-timeline-item">
                  <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                  <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">10月16日</h3>
                    <p>杜甫的思想核心是儒家的仁政思想，他有“<em>致君尧舜上，再使风俗淳</em>”的宏伟抱负。个人最爱的名篇有：</p>
                    <ul>
                      <li>《登高》</li>
                      <li>《茅屋为秋风所破歌》</li>
                    </ul>
                  </div>
                </li>
                <li class="layui-timeline-item">
                  <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                  <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">8月15日</h3>
                    <p>
                        我和同事们去上班，需要完成年度计划是怎么回事呢？我和同事们相信大家都很熟悉，但是我和同事们去上班，需要完成年度计划是怎么回事呢，下面就让小编带大家一起了解吧。

                        <br>我和同事们去上班，需要完成年度计划，其实就是在电脑上进行操作，大家可能会很惊讶我和同事们怎么会去上班，需要完成年度计划呢？但事实就是这样，小编也感到非常惊讶。
                        
                        <br>这就是关于我和同事们去上班，需要完成年度计划的事情了，大家有什么想法呢，欢迎在评论区告诉小编一起讨论哦
                    </p>
                  </div>
                </li>
                <li class="layui-timeline-item">
                  <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                  <div class="layui-timeline-content layui-text">
                    <div class="layui-timeline-title">过去</div>
                  </div>
                </li>
              </ul>
          </div>   
        </div>
        <div class="layui-col-md6">
          <div class="layui-panel">
            <div style="padding: 30px;">今日客流量</div>
            <div class="layui-progress" lay-showpercent="true">
                <div class="layui-progress-bar" lay-percent="20%"></div>
              </div>
          </div>   
        </div>
        <div class="layui-col-md6">
          <div class="layui-panel">
            <div style="padding: 30px;">计划进度</div>
            <div class="layui-progress" lay-showpercent="true">
                <div class="layui-progress-bar" lay-percent="20%"></div>
              </div>
          </div>   
        </div>
      </div>    
        
</div>

{{template "admin/footer.tpl" .}}
